.send-invitations {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .added-emails {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .email {
      width: 100%;
      justify-content: space-between;
    }
  }

  .buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    margin-top: 1rem;
  }
}

