.pagination {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border: 1px solid var(--grey-200);
  border-radius: 8px;

  button {
    width: 2rem;
    aspect-ratio: 1;
    cursor: pointer;

    &:not(:last-child) {
      border-right: 1px solid var(--grey-200);
    }

    &.active {
      font-weight: bold;
      color: var(--primary-700);
      background-color: var(--primary-100);
    }
    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

