@use "../../../styles/elements/typography" as *;

.survey-info {
  .info-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    > h2 {
      width: 100%;
      @include title("sm", $font: $font-family-accent, $weight: 500);
    }
  }
}

